<h1>変更申請一括更新確認画面</h1>
<%= form_tag("t_change_confirms", method: "post", id: "inputform", name: "inputform") do %>
  <br>
  <%= submit_tag "一括更新する", :confirm => '変更申請を一括更新しますが、よろしいですか？', :disable_with=>'一括更新処理中...', :class => 'btn btn-primary' %>
  &nbsp;&nbsp;
  <%= link_to_function '戻る', 'history.back()', :class => 'btn' %>
  <%= hidden_field 'confirm_flg','', :value => "1" %>
  <br><br>
  <table>
    <thead>
      <tr>
        <th>申請内容</th>
        <th>申請日</th>
        <th>希望日</th>
        <th>ｽﾃｰｼｮﾝｺｰﾄﾞ</th>
        <th>ステーション名</th>
        <th>住所</th>
        <th>管理者</th>
        <th>収集区</th>
      </tr>
    </thead>
    <tbody>
      <% @t_change_shinseis.each do |t_change_shinsei| %>
          <tr>
            <td><%= t_change_shinsei.shinsei_name %></td>
            <td><%= t_change_shinsei.shinsei_date.strftime("%Y/%m/%d") %></td>
            <td><%= t_change_shinsei.kibou_date.strftime("%Y/%m/%d") %></td>
            <td><%= t_change_shinsei.cust_code %></td>
            <td><%= t_change_shinsei.cust_name %></td>
            <td><%= (t_change_shinsei.addr_1.to_s + ' ' + t_change_shinsei.addr_2.to_s).strip %></td>
            <td><%= t_change_shinsei.admin_name %></td>
            <td><%= t_change_shinsei.route_name %></td>
            <%= hidden_field 'shinsei_chk','', :value => t_change_shinsei.id %>
          </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
