<%= form_tag("t_fee_gasses", :method=>"get", :id=>"search_form") do %>
  <%= hidden_field_tag :out_timing, params[:out_timing].to_s %>
  <%= hidden_field_tag :car_code, params[:car_code].to_s %>
<% end %>
  <% if current_user.authority!=9 and !@t_carrun.in_timing.blank? %>
    <input type=button value='追加' onclick='return JfeeGassDisplay(0);' class='btn btn-primary'>
    <br><br>
  <% end %>
  <table>
    <thead>
      <tr>
        <th>給油時刻</th>
        <th>給油種類</th>
        <th>給油量（ℓ）</th>
        <% if current_user.authority!=9 and !@t_carrun.in_timing.blank? %>
          <th>　</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @t_fee_gasses.each do |t_fee_gass| %>
        <tr>
          <td><%= t_fee_gass.gass_timing.try(:strftime, "%H:%M:%S") %></td>
          <td><%= t_fee_gass.gass_kbn_name %></td>
          <td align=right><%= t_fee_gass.quantity.to_s %></td>
          <%= hidden_field :gass_timing, t_fee_gass.id.to_s, :value=>t_fee_gass.gass_timing.try(:strftime, "%H:%M:%S") %>
          <%= hidden_field :gass_kbn, t_fee_gass.id.to_s, :value=>t_fee_gass.gass_kbn.to_s %>
          <%= hidden_field :quantity, t_fee_gass.id.to_s, :value=>t_fee_gass.quantity.to_s %>
          <% if current_user.authority!=9 and !@t_carrun.in_timing.blank? %>
            <td>
              <% if current_user.authority.to_s=="1" %>
                <input type=button value='編集' onclick='return JfeeGassDisplay("<%= t_fee_gass.id %>");' class='btn btn-mini'>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
<input type="button" id="modalClose" value="閉じる" onclick="modal_close()" class='btn btn-light'>
<div id="modal_fee" style="display:none;">
  <form action="t_fee_gasses" data-remote="true" id="input_form" name="input_form" method="post">
    <br>
    <table>
      <thead>
        <tr>
          <th>給油時刻</th>
          <td>
            <%= text_field :update, :gass_timing, :size => 8, :maxlength => 8 %>
          </td>
        </tr>
        <tr>
          <th>給油種類</th>
          <td>
            <%= select :update, :gass_kbn, @gass_kbns, { :include_blank => false } %>
          </td>
        </tr>
        <tr>
          <th>給油量（ℓ）</th>
          <td>
            <%= text_field :update, :quantity, :size => 10, :maxlength => 8 %>
          </td>
        </tr>
      </thead>
    </table>
    <br>
    <%= hidden_field 'update', 'flg' %>
    <%= hidden_field 'update', 'id' %>
    <%= hidden_field_tag :update_out_timing, params[:out_timing].to_s %>
    <%= hidden_field_tag :update_car_code, params[:car_code].to_s %>
    <div class="form-actions">
      &nbsp;&nbsp;<%= button_tag '閉じる', :onclick => 'return JfeeGassClose();', :class => 'btn' %>
      &nbsp;&nbsp;&nbsp;<%= button_tag '更新', :onclick => 'return JfeeGassUpdate();', :class => 'btn btn-primary', :id => 'update_btn' %>
      &nbsp;&nbsp;&nbsp;<%= button_tag '削除', :onclick => 'return JfeeGassDelete();', :class => 'btn btn-danger', :id => 'delete_btn' %>
    </div>
  </form>
</div>

<%= content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">

    //給油登録画面表示
    function JfeeGassDisplay(id){
      if(id==0){
        fee_title = "給油登録　";
        document.getElementById("update_gass_timing").value = "";
        document.getElementById("update_gass_kbn").value = "";
        document.getElementById("update_quantity").value = "";
        document.getElementById("update_flg").value = 1;
        document.getElementById("update_id").value = 0;
        document.getElementById("delete_btn").style.display = "none";
      }else{
        fee_title = "給油更新　";
        document.getElementById("update_gass_timing").value = document.getElementById("gass_timing_" + id).value;
        document.getElementById("update_gass_kbn").value = document.getElementById("gass_kbn_" + id).value;
        document.getElementById("update_quantity").value = document.getElementById("quantity_" + id).value;
        document.getElementById("update_flg").value = 2;
        document.getElementById("update_id").value = id;
        document.getElementById("delete_btn").style.display = "";
      }
      $('#modal_fee').dialog({
        title: fee_title,
        modal: true,
        show : "fade",
        hide : "fade",
        width: 600,
        height: 350
      });
    }
    //給油更新
    function JfeeGassUpdate(){
      if(document.getElementById("update_gass_timing").value.length<=0){
        alert("給油時刻が入っていません。");
        return false;
      }
      if (document.getElementById("update_gass_timing").value.length>0 && commonCkTime(document.getElementById("update_gass_timing").value)==false) {
        alert("給油時刻の形式が正しくありません。（hh:mm:ss）");
        return false;
      }
      
      if(document.getElementById("update_quantity").value.length<=0){
        alert("給油量が入っていません。");
        return false;
      }
      if (document.getElementById("update_quantity").value.length>0 && isNaN(document.getElementById("update_quantity").value)==true) {
        alert("給油量は数値で入力してください。");
        return false;
      }
      
      if (confirm("給油データ登録しますが、よろしいですか？")){
        $("#input_form").submit();
        return false;
      }else{
        return false;
      }
    }
    
    function JfeeGassDelete(){
      if (confirm("給油データを削除しますが、よろしいですか？")){
        document.getElementById("update_flg").value = 3;
        $("#input_form").submit();
        return false;
      }else{
        return false;
      }
    }
    
    //給油登録画面閉じる
    function JfeeGassClose(){
      $('#modal_fee').dialog("close");
      return false;
    }
    
    //モーダルを閉じる
    function modal_close(){
      window.parent.jQuery('#modal_fee_gass').dialog('close');
    }
    
  </script>
<% end %>