<h1>車両一覧画面</h1>

<table>
  <thead>
    <tr>
      <td>
        <%= form_tag("m_cars", method: "get") do %>
          車両コード ： <%= text_field 'search', 'query', :value => params[:search].nil? ? "" : params[:search][:query] %>
          <%= submit_tag "検索", :class => 'btn btn-sm btn-primary' %><br><br>
          <label class="form-check-label" for="search_delete">削除のみ ：</label> <%= check_box 'search', 'delete', {:checked => @blndelete}, class: "form-check-input" %>
        <% end %>
      </td>
    </tr>
  </thead>
</table>
<br>
<% if current_user.authority!=9 %>
  <%= link_to '追加', new_m_car_path, :style=>"color:white; text-decoration:none;", :class => 'btn btn-primary' %>
<% end %>
<br><br>
<%= paginate(@m_cars) %>
<table class="table table-sm table-bordered" style="vertical-align:middle">
  <thead class="table-light">
    <tr>
      <th>車両コード</th>
      <th>陸運局登録番号</th>
      <th>部署</th>
      <th>車両メーカー名</th>
      <th>車種</th>
      <th>委託会社</th>
      <th></th>
      <% if current_user.authority!=9 %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @m_cars.each do |m_car| %>
      <tr>
        <td <%= @bgcolor_td %>><%= m_car.car_code %></td>
        <td <%= @bgcolor_td %>><%= m_car.car_reg_code %></td>
        <td <%= @bgcolor_td %>><%= m_car.section_name %></td>
        <td <%= @bgcolor_td %>><%= m_car.car_maker %></td>
        <td <%= @bgcolor_td %>><%= m_car.type_name %></td>
        <td <%= @bgcolor_td %>><%= m_car.cust_name %></td>
        <td <%= @bgcolor_td %>><%= link_to '詳細', m_car, :class => 'btn btn-sm btn-light' %></td>
        <% if current_user.authority!=9 %>
          <td <%= @bgcolor_td %>><%= link_to '編集', edit_m_car_path(m_car), :class => 'btn btn-sm btn-light' %></td>
          <% if @blndelete == false %>
            <td <%= @bgcolor_td %>><%= link_to '削除', m_car, method: :delete, data: { confirm: '削除しますがよろしいですか?' }, :style=>"color:white;", :class => 'btn btn-sm btn-danger' %></td>
          <% else %>
            <td <%= @bgcolor_td %>><%= link_to '復活', m_car, method: :delete, data: { confirm: '削除を復活しますがよろしいですか?' }, :style=>"color:white;", :class => 'btn btn-sm btn-danger' %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
