<%= form_tag("t_custom_memos", :method=>"get", :id=>"search_form") do %>
  <table>
    <thead>
      <tr>
        <th>ｽﾃｰｼｮﾝｺｰﾄﾞ</th>
        <td><%= @cust_code %></td>
      </tr>
      <tr>
        <th>ステーション名</th>
        <td><%= @cust_name %></td>
      </tr>
      <tr>
        <th>期間</th>
        <td>
          <%= text_field 'search', 'memodate_from', :class => 'datepicker', :size => 10, :maxlength => 10, :value => @memodate_from.blank? ? Date.today.years_ago(1).try(:strftime, "%Y/%m/%d") : @memodate_from %>
          ～
          <%= text_field 'search', 'memodate_to', :class => 'datepicker', :size => 10, :maxlength => 10, :value => @memodate_to.blank? ? Date.today.try(:strftime, "%Y/%m/%d") : @memodate_to %>
        </td>
      </tr>
      <% if current_user.itaku_code.blank? %>
        <th>委託会社</th>
        <td colspan=3><%= select 'search', 'itaku', @itaku_codes, { :include_blank => true, :selected => @itakucode.blank? ? "" : @itakucode} %></td>
      <% end %>
      <tr>
        <th>メモ種別</th>
        <td>
          <%= radio_button 'search', 'memo_type', '0', {:checked => @memotype.blank? || @memotype.to_s=="0" ? true : false} %>
          <%= label :search, :memo_type_0, "本部入力メモ" %>
          <%= radio_button 'search', 'memo_type', '1', {:checked => @memotype.blank? || @memotype.to_s=="0" ? false : true} %>
          <%= label :search, :memo_type_1, "手書メモ・写真" %>
        </td>
      </tr>
      <tr>
        <td align=center colspan=4><%= submit_tag "検索", :class => 'btn' %></td>
      </tr>
    </thead>
  </table>
  <%= hidden_field_tag :cust_kbn, @cust_kbn.to_s %>
  <%= hidden_field_tag :cust_code, @cust_code.to_s %>
<% end %>
<br>
<% if @memotype.to_s=="0" %>
  <% if current_user.authority!=9 %>
    <input type=button value='追加' onclick='return JcustomMemoDisplay(0);' class='btn btn-primary'>
    <br><br>
  <% end %>
  <%= paginate(@t_custom_memos) %>
  <table>
    <thead>
      <tr>
        <th>日時</th>
        <th>メモ</th>
        <th>閲覧</th>
        <th>登録ユーザー</th>
        <th>委託会社</th>
        <% if current_user.authority!=9 %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @t_custom_memos.each do |t_custom_memo| %>
        <tr>
          <td><%= t_custom_memo.memo_time.try(:strftime, "%Y/%m/%d %H:%M:%S") %></td>
          <td><%= text_area :memo, t_custom_memo.id.to_s, :value=>t_custom_memo.memo.to_s, :size=>"60x1", :readonly=>true, :onclick=>"Jmouseover_memo(" + t_custom_memo.id.to_s + ");", :onmouseout=>"Jmouseout_memo(" + t_custom_memo.id.to_s + ");" %></td>
          <td><%= t_custom_memo.itaku_flg.to_s=="0" ? "全て" : "自社のみ" %></td>
          <td><%= t_custom_memo.user_name %></td>
          <td><%= t_custom_memo.itaku_name %></td>
          <% if current_user.authority!=9 %>
            <td>
              <% if current_user.authority.to_s=="1" || current_user.id.to_s == t_custom_memo.user_id.to_s  %>
                <input type=button value='編集' onclick='return JcustomMemoDisplay("<%= t_custom_memo.id %>");' class='btn btn-mini'>
              <% end %>
            </td>
          <% end %>
          <%= hidden_field :itaku_flg, t_custom_memo.id.to_s, :value=>t_custom_memo.itaku_flg.to_s %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= paginate(@t_carrun_memos) %>
  <table>
    <thead>
      <tr>
        <th>収集日時</th>
        <th>メモ</th>
        <th>出庫日時</th>
        <th>車両</th>
        <th>運転者</th>
        <th>委託会社</th>
      </tr>
    </thead>
    <tbody>
      <% @t_carrun_memos.each do |t_carrun_memo| %>
        <tr>
          <td><%= t_carrun_memo.finish_timing.try(:strftime, "%Y/%m/%d %H:%M:%S") %></td>
          <td><a href=<%= t_carrun_memo.memo.url(:original).to_s %> rel='lightbox'><%= image_tag(t_carrun_memo.memo.url(:thumb).to_s) %></a></td>
          <td><%= t_carrun_memo.out_timing.try(:strftime, "%Y/%m/%d %H:%M:%S") %></td>
          <td><%= t_carrun_memo.car_reg_code %></td>
          <td><%= t_carrun_memo.driver_name %></td>
          <td><%= t_carrun_memo.itaku_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<input type="button" id="modalClose" value="閉じる" onclick="modal_close()" class='btn'>
<div id="modal_memo" style="display:none;">
  <form action="t_custom_memos" data-remote="true" id="input_form" name="input_form" method="post">
    <br>
    <table>
      <thead>
        <tr>
          <th>メモ</th>
          <td>
            <%= text_area :update, :memo, :size=>"60x6" %>
          </td>
        </tr>
        <tr>
          <th>表示区分</th>
          <td>
            <%= radio_button 'update', 'itaku_flg', '0', {:checked => true} %>
            <%= label :update, :itaku_flg_0, "全て閲覧可" %>
            <%= radio_button 'update', 'itaku_flg', '1', {} %>
            <%= label :update, :itaku_flg_1, "自社のみ閲覧可" %>
          </td>
        </tr>
      </thead>
    </table>
    <br>
    <%= hidden_field 'update', 'flg' %>
    <%= hidden_field 'update', 'id' %>
    <%= hidden_field 'update', 'cust_kbn', :value=>@cust_kbn.to_s %>
    <%= hidden_field 'update', 'cust_code', :value=>@cust_code.to_s %>
    <%= hidden_field 'update', 'cust_name', :value=>@cust_name.to_s %>
    <div class="form-actions">
      &nbsp;&nbsp;<%= button_tag '閉じる', :onclick => 'return JcustomMemoClose();', :class => 'btn' %>
      &nbsp;&nbsp;&nbsp;<%= button_tag '更新', :onclick => 'return JcustomMemoUpdate();', :class => 'btn btn-primary', :id => 'update_btn' %>
      &nbsp;&nbsp;&nbsp;<%= button_tag '削除', :onclick => 'return JcustomMemoDelete();', :class => 'btn btn-danger', :id => 'delete_btn' %>
    </div>
  </form>
</div>

<%= content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">

    //メモ登録画面表示
    function JcustomMemoDisplay(id){
      if(id==0){
        memo_title = "メモ登録　";
        document.getElementById("update_memo").value = "";
        document.getElementById("update_itaku_flg_0").checked = true;
        document.getElementById("update_flg").value = 1;
        document.getElementById("update_id").value = 0;
        document.getElementById("delete_btn").style.display = "none";
      }else{
        memo_title = "メモ更新　";
        document.getElementById("update_memo").value = document.getElementById("memo_" + id).value;
        document.getElementById("update_itaku_flg_" + document.getElementById("itaku_flg_" + id).value).checked = true;
        document.getElementById("update_flg").value = 2;
        document.getElementById("update_id").value = id;
        document.getElementById("delete_btn").style.display = "";
      }
      $('#modal_memo').dialog({
        title: memo_title,
        modal: true,
        show : "fade",
        hide : "fade",
        width: 600,
        height: 350
      });
    }
    //メモ更新
    function JcustomMemoUpdate(){
      if(document.getElementById("update_memo").value.length<=0){
        alert("メモが入っていません。");
        return false;
      }
      if (confirm("メモ登録しますが、よろしいですか？")){
        $("#input_form").submit();
        return false;
      }else{
        return false;
      }
    }
    
    function JcustomMemoDelete(){
      if (confirm("メモを削除しますが、よろしいですか？")){
        document.getElementById("update_flg").value = 3;
        $("#input_form").submit();
        return false;
      }else{
        return false;
      }
    }
    
    //メモ登録画面閉じる
    function JcustomMemoClose(){
      $('#modal_memo').dialog("close");
      return false;
    }
    
    //一覧画面のメモリサイズ
    function Jmouseover_memo(id){
      document.getElementById("memo_"+id).rows=6;
    }
    function Jmouseout_memo(id){
      document.getElementById("memo_"+id).rows=1;
    }
    //モーダルを閉じる
    function modal_close(){
      window.parent.jQuery('#modal_station_detail_common').dialog('close');
    }
  </script>
<% end %>