<h1>荷下先編集画面</h1>

<%= render 'form' %>

<% content_for :scripts do %>
<script src="//maps.googleapis.com/maps/api/js?v=3.23&language=ja&key=<%= @map_key %>"></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
  var myLatlng;
  var marker;
  var infowindow;

  myLatlng = new google.maps.LatLng("<%= @m_custom.latitude.to_s %>","<%= @m_custom.longitude.to_s %>");
  var mapOptions = {
    auto_zoom: false,
    zoom: 18,
    auto_adjust: false,
    center: myLatlng,
    gestureHandling: "greedy",
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  
  infowindow = new google.maps.InfoWindow({
        content: '<div style="width:220px; height:120px;" class="popup"><h2><%= @m_custom.cust_code.to_s %></h2><p><%= @m_custom.cust_name.to_s %></p>'
  });
  marker = new google.maps.Marker({
    position: myLatlng,
    title: "荷下先位置",
    draggable: true,
    map: map
  });
  google.maps.event.addListener(marker, 'dragend', function()
  {
    HandleDragend(this.getPosition(),marker);
  });

  function HandleDragend(pos,marker) {
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({
      latLng: pos
    }, function(responses) {
      if (responses && responses.length > 0) {
          var vMaker;
          var vAddr = responses[0].formatted_address.replace("日本, ", "");
          document.getElementById('m_custom_latitude').value =pos.lat();
          document.getElementById('m_custom_longitude').value =pos.lng();
       }
    });
  }
  infowindow.open(map, marker);
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  });

  function funloads_submit(){
    var iCount = 0;
    var arrIndust = new Array();

    //入力必須チェック
    if (document.getElementById("m_custom_cust_name").value.length<=0) {
      alert("荷下先名は入力必須です。");
      return false;
    }
    if(document.getElementById("m_custom_addr_1").value.length<=0){
      alert("住所は入力必須です。");
      return false;
    }
    if(document.getElementById('m_custom_cust_name').value.indexOf("'")>=0){
      alert("荷下先名に半角クォーテーションを使用することはできません。");
      return false;
    }
    if(document.getElementById('m_custom_addr_1').value.indexOf("'")>=0){
      alert("住所に半角クォーテーションを使用することはできません。");
      return false;
    }
    if(document.getElementById('m_custom_addr_2').value.indexOf("'")>=0){
        alert("アパート・マンション・ビル名に半角クォーテーションを使用することはできません。");
      return false;
    }
    if(document.getElementById('m_custom_memo').value.indexOf("'")>=0){
        alert("備考に半角クォーテーションを使用することはできません。");
      return false;
    }
    
    for(var i = 1; i <= eval(document.getElementById("indust_cnt_no").value); i++){
      if(document.getElementById("tree_no_"+i)){
        arrIndust[iCount] = $("#tree_no_"+i).find("#indust_kbn_").val();
        iCount += 1;
      }
    }
    if(iCount==0){
      alert("廃棄物は選択必須です。");
      return false;
    }
    //重複チェック
    for(var i = 0; i < eval(arrIndust.length); i++){
      for(var j = 0; j < eval(arrIndust.length); j++){
        if(i!=j && arrIndust[i]==arrIndust[j]){
          alert("廃棄物が重複しています。");
          return false;
        }
      }
    }
    if(window.confirm('更新しますがよろしいですか？')){
      return true;
    }else{
      return false;
    }
  }
  
  //廃棄物追加
  function funload_indust_add(indust_kbns, unit_kbns){
    var indust_kbn = document.getElementById("indust_kbn_new_").value;
    var unit_kbn = document.getElementById("unit_kbn_new_").value;
    var cnt_no = eval(document.getElementById("indust_cnt_no").value) + 1;
    
    //エラーチェック
    if(!indust_kbn){
      alert("廃棄物を選択してください。");
      return false;
    }
    
    //タグ追加
    $("#indust_tag_sub").before(fhtml_unload_indust(cnt_no, indust_kbn, indust_kbns, unit_kbn, unit_kbns));
    document.getElementById("indust_kbn_new_").value = "";
    document.getElementById("unit_kbn_new_").value = "";
    document.getElementById("indust_cnt_no").value = cnt_no;
  }
  
  function fhtml_unload_indust(cnt_no, indust_kbn, indust_kbns, unit_kbn, unit_kbns){
    var ary_indust_kbn = froute_charchange(decodeURIComponent(indust_kbns));
    var ary_unit_kbn = froute_charchange(decodeURIComponent(unit_kbns));
    var ahtml = "";
    var selecttype = "";

    ahtml += "<div id=tree_no_" + cnt_no + ">";
    ahtml += "<table>";
    ahtml += "<tr>";
    ahtml += "<td width=60%>";
    ahtml += "<select id=indust_kbn_ name=indust_kbn[]>";
    for(var i = 0; i < ary_indust_kbn.split(",").length; i++){
      if (i % 2 != 0){
        if(ary_indust_kbn.split(",")[i]==indust_kbn){
          selecttype = " selected='selected'";
        }else{
          selecttype = "";
        }
        ahtml += "<option value=" + ary_indust_kbn.split(",")[i] + selecttype + ">" + ary_indust_kbn.split(",")[i-1] + "</option>";
      }
    }
    ahtml += "</select>";
    ahtml += "</td>";
    ahtml += "<td width=20%>";
    ahtml += "<select id=unit_kbn_ name=unit_kbn[]>";
    ahtml += "<option></option>";
    for(var i = 0; i < ary_unit_kbn.split(",").length; i++){
      if (i % 2 != 0){
        if(ary_unit_kbn.split(",")[i]==unit_kbn){
          selecttype = " selected='selected'";
        }else{
          selecttype = "";
        }
        ahtml += "<option value=" + ary_unit_kbn.split(",")[i] + selecttype + ">" + ary_unit_kbn.split(",")[i-1] + "</option>";
      }
    }
    ahtml += "</select>";
    ahtml += "</td>";
    ahtml += "<td width=20% align=center><input type=button value='削除' onClick=fcustom_route_dlt(" + cnt_no + "); class='btn btn-mini btn-danger'></td>";
    ahtml += "</tr>";
    ahtml += "</table>";
    ahtml += "</div>";
    
    return ahtml;
  }

//住所から緯度経度取得
function JlatlngChange(){
  if(window.confirm('住所から緯度経度情報を取得します。\r\n地図上のマーカー位置も移動されます。\r\n実行してもよろしいですか？')){
    geocoder = new google.maps.Geocoder();
    var address = document.getElementById('m_custom_addr_1').value;
    if (geocoder) {
      geocoder.geocode( { 'address': address,'region': 'jp'},
        function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var bounds = new google.maps.LatLngBounds();
            for (var r in results) {
              if (results[r].geometry) {
                //緯度経度取得
                var latlng = results[r].geometry.location;

                document.getElementById('m_custom_latitude').value =latlng.lat();
                document.getElementById('m_custom_longitude').value =latlng.lng();
                //マーカー移動
                myLatlng = new google.maps.LatLng(latlng.lat(),latlng.lng());
                marker.setPosition(myLatlng);
                map.panTo(myLatlng);
                alert("緯度経度の取得に成功しました。");
                break;
              }
            }
          }else{
            alert("緯度経度の取得に失敗しました reason: " + status);
          }
        }
      );
    }
  }else{
    return false;
  }
}
//モーダルを閉じる
function modal_close(){
  window.parent.jQuery('#modal_station_detail_common').dialog('close');
}
</script>
<% end %>
