<h1>荷下先詳細画面</h1>
<table>
  <thead>
    <tr>
      <th colspan=2>荷下先コード</th>
      <td colspan=2><%= @m_custom.cust_code %></td>
      <td rowspan=19 width=40% valign="top">
        <div class="map_container" style="width:96%;">
          <div id="map_canvas" style="width:100%; height:450px"></div>
        </div>
      </td>
    </tr>
    <tr>
      <th colspan=2>荷下先名</th>
      <td colspan=2><%= @m_custom.cust_name %></td>
    </tr>
    <tr>
      <th colspan=2>住所</th>
      <td colspan=2><%= @m_custom.addr_1 %></td>
    </tr>
    <tr>
      <th colspan=2>ｱﾊﾟｰﾄ・ﾏﾝｼｮﾝ・ﾋﾞﾙ名</th>
      <td colspan=2><%= @m_custom.addr_2 %></td>
    </tr>
    <tr>
      <th colspan=2>備考</th>
      <td colspan=2><%= text_area "memo", "", :value=> @m_custom.memo, :rows=>2, :readonly=>true %></td>
    </tr>
    <tr>
      <th colspan=2>緯度</th>
      <td colspan=2><%= @m_custom.latitude %></td>
    </tr>
    <tr>
      <th colspan=2>経度</th>
      <td colspan=2><%= @m_custom.longitude %></td>
    </tr>
    <tr>
      <td colspan=4>
        <table>
          <thead>
            <tr>
              <th>廃棄物</th>
              <th>単位</th>
            </tr>
          </thead>
          <% @m_collect_industs.each do |m_collect_indust| %>
            <tr>
              <td><%= m_collect_indust.indust_name.to_s %></td>
              <td><%= m_collect_indust.unit_name.to_s %></td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
  </thead>
</table>
<br>
<% if not @header_no_dsp %>
  <% if params[:lat_del] %>
    <% if current_user.authority!=9 %>
      <% @url_para = unloads_path + "/" + params[:id] + "/edit?zoom_del=" + params[:zoom_del] + "&lat_del=" + params[:lat_del] + "&lng_del=" + params[:lng_del] %>
      <%= link_to '編集', @url_para, :class => 'btn', :style=>'text-decoration:none;' %>&nbsp;&nbsp;
    <% end %>
    <% @url_para = unload_add_path + "?zoom_del=" + params[:zoom_del] + "&lat_del=" + params[:lat_del] + "&lng_del=" + params[:lng_del] %>
    <%= link_to '戻る', @url_para, :class => 'btn', :style=>'text-decoration:none;' %>
  <% else %>
    <% if current_user.authority!=9 %>
      <%= link_to '編集', edit_unload_path(@m_custom, :hold_params=>1,:search_page=>params[:search_page].to_s,:search_custcode=>params[:search_custcode].to_s,:search_custname=>params[:search_custname].to_s,:search_custaddr=>params[:search_custaddr].to_s,:search_custpage=>params[:search_custpage].to_s,:search_delete=>params[:search_delete].to_s), :class => 'btn', :style=>'text-decoration:none;' %>&nbsp;&nbsp
    <% end %>
    <%= link_to '戻る', unloads_path(:hold_params=>1,:page=>params[:search_page].to_s,:search_custcode=>params[:search_custcode].to_s,:search_custname=>params[:search_custname].to_s,:search_custaddr=>params[:search_custaddr].to_s,:search_custpage=>params[:search_custpage].to_s,:search_delete=>params[:search_delete].to_s), :class => 'btn', :style=>'text-decoration:none;' %>
  <% end %>
<% else %>
  <input type="button" id="modalClose" value="閉じる" onclick="modal_close()" class='btn'>
<% end %>

<% content_for :scripts do %>
  <script src="//maps.googleapis.com/maps/api/js?v=3.23&language=ja&key=<%= @map_key %>"></script>
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" type="text/javascript"></script>
  <script type="text/javascript" charset="utf-8">

google.maps.event.addDomListener(window, 'load', function()
{
  var infowindow;
  var myLatlng;
  var marker;
  var custcode = "<%= @m_custom.cust_code %>";
  var custname = "<%= @m_custom.cust_name %>";

  myLatlng = new google.maps.LatLng("<%= @m_custom.latitude.to_s %>","<%= @m_custom.longitude.to_s %>");
  var mapOptions = {
    auto_zoom: true,
    zoom: 18,
    auto_adjust: false,
    center: myLatlng,
    gestureHandling: "greedy",
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  infowindow = new google.maps.InfoWindow({
        content: '<div style="width:220px; height:120px;" class="popup"><h2>'+ custcode +  '</h2><p>' + custname + '</p>'
  });
  marker = new google.maps.Marker({
    position: myLatlng,
    title: "荷下先位置",
    map: map
  });
  infowindow.open(map, marker);

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  });
});
//モーダルを閉じる
function modal_close(){
  window.parent.jQuery('#modal_station_detail_common').dialog('close');
}
</script>
<% end %>
