switch(<%= @ajaxflg %>){
  case -1:
    alert("登録処理に失敗しました。再度やり直してください。");
    break;
  case -2:
    $('#modal').dialog( "close" );
    break;
  case -3:
    alert("更新処理に失敗しました。再度やり直してください。");
    break;
  case -5:
    alert("管理者が存在しません。再度やり直してください。");
    break;
  case 1:
    break;
  case 2:
    //ステーション登録
    var cust_code = "<%= @custcode %>";
    var cust_name = document.getElementById("cust_name_new_").value;
    var address = document.getElementById("address_new_").value;
    var latitude = document.getElementById("latitude_new_").value;
    var longitude = document.getElementById("longitude_new_").value;
    var admin_code = document.getElementById("admin_code_new_").value;
    var admin_name = "<%= @admin_name %>";
    var admin_tel = "<%= @admin_tel %>";
    var admin_email = "<%= @admin_email %>";
    var bgcolor = "<%= @bgcolor %>";
    if (document.getElementById("route_new_").checked){
      froute_add(cust_code, cust_name, address, latitude, longitude, admin_name, admin_tel, admin_email, bgcolor, 2)
      //ステーション一覧のSEQを表示
      document.getElementById("seq_"+cust_code).innerHTML = "<%= @tree_no.to_s %>";
    }else{
      //マーカー再表示
      f_marker_dsp();
    }
    $('#modal').dialog( "close" );
    //初期化
    document.getElementById("latitude_new_").value = null;
    document.getElementById("longitude_new_").value = null;
    break;
  case 3:
    //追加・削除処理
    //ステーション一覧のSEQを再表示
<%
    if params[:add_flg]=="1"
%>
      document.getElementById("seq_<%= params[:cust_code] %>").innerHTML = "<%= @tree_no.to_s %>";
<%
    else
      if not @m_route_points.nil?
        @m_route_points.each do |m_route_point|
%>
          document.getElementById("seq_<%= m_route_point.cust_code.to_s %>").innerHTML = "<%= m_route_point.tree_no.to_s %>";
<%
        end
      end
    end
%>
    break;
  case 4:
    //マーカー再描画
    var tree_no;
    var cust_kbn;
    var cust_code;
    var cust_name;
    var cust_addr;
    var latitude;
    var longitude;
    var admin_code;
    var admin_name;
    var admin_tel;
    var admin_email;
    var type_value;
    var marker_color;
    var route_memo;
    var seq_id = 0;
    var contentString;
    var icon;
    var myLatlng;
    var infowindow = new Array();

    //マーカー初期化（念の為）
    for(var i = 0; i < marker.length; i++){
      marker[i].setMap(null);
    }
    for(var i = 0; i < treeMarker.length; i++){
      treeMarker[i].setMap(null);
    }
<%
  if not @m_customs.nil?
    @m_customs.each do |custom|
%>
      id = "<%= custom.id %>"
      tree_no = "<%= custom.tree_no.to_s %>";
      cust_kbn = "<%= custom.cust_kbn.to_s %>";
      cust_code = "<%= custom.cust_code.to_s %>";
      cust_name = "<%= custom.cust_name.to_s %>";
      cust_addr = "<%= (custom.addr_1.to_s + ' ' + custom.addr_2.to_s).strip %>";
      latitude = "<%= custom.latitude %>";
      longitude = "<%= custom.longitude %>";
      route_code = "<%= custom.route_code.to_s %>";
      admin_name = "<%= custom.admin_name.to_s %>";
      admin_tel = "<%= custom.admin_tel.to_s %>";
      admin_email = "<%= custom.admin_email.to_s %>";
      type_value = "<%= custom.type_value.to_s %>";
      marker_color = "<%= custom.marker_color.to_s %>";
      bgcolor = "<%= custom.bgcolor.to_s %>";

      myLatlng = new google.maps.LatLng(latitude,longitude);
      
      contentString = "<div style='width:450px; height:160px;'><h3>" + cust_code + ":" + cust_name + "</h3>" + cust_addr + "<br><br>管理者名：" + admin_name + "<br>電話番号：" + admin_tel;
      contentString = contentString + "<br><br>";
      <% if current_user.authority!=9 %>
        if(!route_code){
          contentString = contentString + "<input type=button value='収集区に追加' onclick=froute_add('" + cust_code + "','" + encodeURIComponent(cust_name) + "','" + encodeURIComponent(cust_addr) + "','" + latitude + "','" + longitude + "','" + encodeURIComponent(admin_name) + "','" + admin_tel + "','" + admin_email + "','" + bgcolor + "',1); class='btn btn-primary'>&nbsp;";
        }
      <% end %>
      contentString = contentString + "&nbsp;&nbsp;<input type=button value='メモ' onclick=fcustom_memo_common('" + cust_code + "','<%= root_url(only_path: false) %>'); class='btn'>&nbsp;";
      contentString = contentString + "&nbsp;&nbsp;<input type=button value='収集履歴' onclick=fcustom_carrun_common('" + cust_kbn + "','" + cust_code + "','<%= root_url(only_path: false) %>'); class='btn'>&nbsp;";
      contentString = contentString + "&nbsp;&nbsp;<input type=button value='詳細' onclick=fcustom_detail_common('" + id + "','<%= root_url(only_path: false) %>',''); class='btn'>&nbsp;";
      <% if current_user.authority!=9 %>
        contentString = contentString + "&nbsp;&nbsp;<input type=button value='編集' onclick=fcustom_detail_common('" + id + "','<%= root_url(only_path: false) %>','/edit'); class='btn'>";
      <% end %>
      contentString = contentString + "</div>";

      if(marker_color){
        icon = "images/" + marker_color;
      }else if(type_value){
        icon = "images/" + type_value;
      }else{
        icon = "images/marker_icon_normal.png";
      }
      if(route_code){
        icon = "images/marker_icon.png";
      }else if(bgcolor){
        icon = "images/marker_icon_del.png";
      }
      
      infowindow[seq_id] = new google.maps.InfoWindow({
        content: contentString,
        disableAutoPan: true
      });
      marker[seq_id] = new google.maps.Marker({
        position: myLatlng,
        icon: icon,
        map: map,
        zIndex: 1,
        title: cust_code+"_"+seq_id
      });
      treeMarker[seq_id] = new markerWithLabel.MarkerWithLabel({
        position: myLatlng,
        map: map,
        icon: {
          path: google.maps.SymbolPath.BACKWARD_OPEN_ARROW,
          scale: 0,
        },
        labelContent: " "+tree_no,
        labelAnchor: new google.maps.Point(-3, -14),
        labelClass: "markerwithlabel-labels",
        labelStyle: { opacity: 1.0 },
        zIndex: 2,
        clickable: false
      });
      google.maps.event.addListener(marker[seq_id], 'click', function() {
        //情報ウィンドウ閉じる
        for(var i = 0; i < seq_id; i++){
          infowindow[i].close();
        }
        if (gActiveobj){
          gActiveobj.style.backgroundColor = gActivecolor;
        }
        if(document.getElementById("tr_" + this.getTitle().split("_")[0])){
          document.getElementById("tr_" + this.getTitle().split("_")[0]).style.backgroundColor = "#FFFF55";
          gActiveobj = document.getElementById("tr_" + this.getTitle().split("_")[0]);
          gActivecolor = document.getElementById("bgcolor_" + this.getTitle().split("_")[0]).value;
        }
        
        infowindow[this.getTitle().split("_")[1]].open(map,marker[this.getTitle().split("_")[1]]);
      });
      seq_id += 1;
<%
    end
  end
%>
    //中央の位置にマーカー表示
    myLatlng = new google.maps.LatLng(map.getBounds().getCenter().lat(),map.getBounds().getCenter().lng())
    icon = {
      url: "<%= image_path("marker_pin.png") %>",
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(5, 40)
    };
    marker[seq_id] = new google.maps.Marker({
      position: myLatlng,
      icon: icon,
      map: map,
      title: ""+seq_id
    });
    $('#layer').hide();
    break;
  case 5:
    //管理者情報取得
    document.getElementById("div_admin_name").innerHTML = "<%= @cust_name %>";
    document.getElementById("div_admin_type").innerHTML = "<%= @admin_type %>";
    document.getElementById("chg_flg_new_").value = 1;
    break;
  case 6:
    //ステーション番号取得
    document.getElementById("cust_name_new_").value = "<%= @cust_name_chg %>";
    document.getElementById("chg_flg_new_").value = 1;
alert("<%= @cust_name_chg %>");
    break;
}
