<h1>インフォメーション管理</h1>
<p id="notice"><%= notice %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>日付</th>
      <th>メッセージ</th>
      <th>　</th>
    </tr>
  </thead>
  <tbody>
    <% @infomations.each do |infomation| %>
      <tr>
        <td><%= infomation.info_date %></td>
        <td><%= infomation.info_message %></td>
        <td>
          <%= link_to '編集',
                      edit_infomation_path(infomation), :class => 'btn btn-mini' %>
          <%= link_to '削除',
                      infomation_path(infomation),
                      :method => :delete,
                      :data => { :confirm => '削除しますがよろしいですか?'},
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="form-actions">
  <%= link_to '追加',
            new_infomation_path,
            :style=>"color:white;", :class => 'btn btn-primary' %>
</div>
