<%= form_for(@m_custom,:url => {:controller=>'gyoshas', :action => @action_form}, :html => { :class => @class_form, :id => @class_form }) do |f| %>
  <% if @m_custom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_custom.errors.count, "error") %> prohibited this m_custom from being saved:</h2>

      <ul>
      <% @m_custom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <thead>
    <tr>
      <th width=30%>委託会社コード</th>
      <% if @action_form=='update' %>
        <td width=70%><%= f.text_field :cust_code, :readonly => true, :disabled => true, :size=>10, :maxlength=>10 %></td>
      <% else %>
        <td width=70%><%= f.text_field :cust_code, :size=>10, :maxlength=>10 %></td>
      <% end %>
    </tr>
    <tr>
      <th>委託会社名</th>
      <td><%= f.text_field :cust_name, :size=>40, :maxlength=>50 %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= f.text_field :addr_1, :size=>60, :maxlength=>100 %></td>
    </tr>
    <tr>
      <th>ｱﾊﾟｰﾄ・ﾏﾝｼｮﾝ・ﾋﾞﾙ名</th>
      <td><%= f.text_field :addr_2, :size=>60, :maxlength=>100 %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= f.text_field :tel_no, :size=>20, :maxlength=>13 %></td>
    </tr>
    <tr>
      <th>FAX番号</th>
      <td><%= f.text_field :fax_no, :size=>20, :maxlength=>13 %></td>
    </tr>
    <tr>
      <th>備考</th>
      <td><%= f.text_area :memo, :rows=>2, :maxlength=>100 %></td>
    </tr>
    <%= hidden_field :m_custom, :delete_flg, :value => @m_custom.delete_flg.nil? ? 0 : @m_custom.delete_flg %>
    <%= hidden_field :m_custom, :cust_kbn, :value => 5 %>
    </thead>
  </table>
  <br>
  <div class="actions">
    <% if current_user.authority!=9 %>
      <%= f.submit :"更新", :onclick => ('return fgyoshas_submit();'), :class => 'btn btn-primary' %>&nbsp;&nbsp;
    <% end %>
    <%= link_to '戻る', gyoshas_path, :class => 'btn', :style=>'text-decoration:none;'  %>
  </div>
<% end %>
<% content_for :scripts do %>
  <script type="text/javascript">
    function fgyoshas_submit(){
      if (document.getElementById("m_custom_cust_code").value.length<=0) {
        alert("委託会社コードは入力必須です。");
        return false;
      }
      if (document.getElementById("m_custom_cust_name").value.length<=0) {
        alert("委託会社名は入力必須です。");
        return false;
      }
      if (document.getElementById("m_custom_cust_code").value.match(/[^0-9a-zA-Z_]+/)){
        alert("委託会社コードは半角英数字で入力してください。");
        return false;
      }
      if (document.getElementById("m_custom_tel_no").value.length>0){
        if (! document.getElementById("m_custom_tel_no").value.match(/[0-9]{2,5}-[0-9]{1,4}-[0-9]{4}/)){
          alert ('電話番号の書式が正しくありません。\n半角数字と「-」(ハイフン)で入力してください。');
          return false;
        }
      }
      if (document.getElementById("m_custom_fax_no").value.length>0){
        if (! document.getElementById("m_custom_fax_no").value.match(/[0-9]{2,5}-[0-9]{1,4}-[0-9]{4}/)){
          alert ('FAX番号の書式が正しくありません。\n半角数字と「-」(ハイフン)で入力してください。');
          return false;
        }
      }

      if(window.confirm('更新しますがよろしいですか？')){
        return true;
      }else{
        return false;
      }
    }
  </script>
<% end %>