<h1>分類マスタ一覧画面</h1>

<table>
  <thead>
    <tr>
      <td>
        <%= form_tag("m_combos", method: "get") do %>
          <input type=hidden name=class1 value=<%= params[:class1] %>>
          名称 ： <%= text_field 'search', 'query', :value => params[:search].nil? ? "" : params[:search][:query]  %>
          <%= submit_tag "検索", :class => 'btn btn-light' %><br><br>
          削除のみ ： <%= check_box 'search', 'delete', {:checked => @blndelete} %>
        <% end %>
      </td>
    </tr>
  </thead>
</table>
<br>
<% @m_combo_big = MComboBig.where("class_1 = ?", params[:class1]).first %>
大分類：<%= @m_combo_big.class_name  %>
<br><br>
<% if current_user.authority == 1 %>
  <%= link_to '追加', new_m_combo_path(:class1 => params[:class1]), :style=>"color:white; text-decoration:none;", :class => 'btn btn-primary' %>&nbsp;&nbsp;
<% end %>
<%= link_to '戻る', m_combo_bigs_path, :class => 'btn btn-light', :style=>'text-decoration:none;' %>
<br><br>

<%= paginate(@m_combos) %>
<table>
  <thead>
    <tr>
      <th>中分類コード</th>
      <th>小分類コード</th>
      <th>名称</th>
      <th>略称</th>
      <th>値１</th>
      <th>値２</th>
      <th>値３</th>
      <th>値４</th>
      <th>値５</th>
      <th>システムフラグ</th>
      <th></th>
      <% if current_user.authority == 1 %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @m_combos.each do |m_combo| %>
      <tr>
        <td <%= @bgcolor_td %>><%= m_combo.class_2 %></td>
        <td <%= @bgcolor_td %>><%= m_combo.class_code %></td>
        <td <%= @bgcolor_td %>><%= m_combo.class_name %></td>
        <td <%= @bgcolor_td %>><%= m_combo.class_namea %></td>
        <td <%= @bgcolor_td %>><%= m_combo.value %></td>
        <td <%= @bgcolor_td %>><%= m_combo.value2 %></td>
        <td <%= @bgcolor_td %>><%= m_combo.value3 %></td>
        <td <%= @bgcolor_td %>><%= m_combo.value4 %></td>
        <td <%= @bgcolor_td %>><%= m_combo.value5 %></td>
        <td <%= @bgcolor_td %>><%= m_combo.system_flg %></td>
        <td <%= @bgcolor_td %>><%= link_to '詳細', m_combo, :class => 'btn btn-light btn-sm' %></td>
        <% if current_user.authority == 1 %>
          <% if m_combo.system_flg == 1 %>
            <td <%= @bgcolor_td %>>&nbsp;</td>
            <td <%= @bgcolor_td %>>&nbsp;</td>
          <% else %>
            <td <%= @bgcolor_td %>><%= link_to '編集', edit_m_combo_path(m_combo), :class => 'btn btn-sm btn-light' %></td>
            <% if @blndelete == false %>
              <td <%= @bgcolor_td %>><%= link_to '削除', m_combo, method: :delete, data: { confirm: '削除しますがよろしいですか?' }, :style=>"color:white;", :class => 'btn btn-sm btn-danger' %></td>
            <% else %>
              <td <%= @bgcolor_td %>><%= link_to '復活', m_combo, method: :delete, data: { confirm: '削除データを復活しますがよろしいですか?' }, :style=>"color:white;", :class => 'btn btn-sm btn-danger' %></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
